@import 'nav';
@import 'login';
@import 'designelements';
@import 'moviecard';
@import '403error';
@import 'genres';


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

$primary-color: #DF5549;
$secondary-color: #772C25;
$tertiary-color: #3c1613;
$background-color: #FDF4F3;
$font: 'Rubik', sans-serif;
$bold-500: 500;
$bold-700: 700;
$max-width: 1200px;

/*FIXED TEXT STYLES*/
h2, h3, h4, h5{
   padding: 10px 20px;
   color: $primary-color;
}
h2 {font-size: 2.5rem;}
h3, h4, h5 {font-size: 2rem;}



body {
   margin: 0;
   padding: 0;
   font-family: $font;
   background-color: $background-color;
}

footer{
   width: 100%;
   text-align: center;
   margin-top: 2rem;
   p{
      color: $primary-color;
      font-weight: $bold-500;
   }
}

