@import 'nav';
@import 'login';
@import 'dashboard';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

$primary-color: #DF5549;
$secondary-color: #772C25;
$tertiary-color: #3c1613;
$background-color: #FDF4F3;
$font: 'Rubik', sans-serif;
$bold-500: 500;
$bold-700: 700;
$max-width: 1200px;

/*FIXED TEXT STYLES*/
h2 {
   padding: 10px 20px;
   font-size: 3rem;
   color: $primary-color;
   }

body {
   margin: 0;
   padding: 0;
   font-family: $font;
   background-color: $background-color;
}


